h1 {font-size: 4.5rem;
}

h2 {font-size: 2.5rem;
}

h3 {font-size: 2rem;
}

h5 {font-size: 1.2rem;
}

p {font-size: .9rem;
}

.img {
opacity: 0.7;
filter: alpha(opacity=50); /* For IE8 and earlier */
}

.bgcolor {
background-color:  #042A3D  !important ; /*darkest blue*/
}

.bgblue {
background-color:  #154760  !important ; /*second blue*/
}

.bgltblue {
background-color:  #4898B5  !important ; /*light blue*/
}

.bggrey {
background-color:  #AFAFAF  !important ; /*grey*/
}

.bgltgrey {
background-color:  #E2E2E2  !important ; /*light grey*/
}

.border-secondary {
  border-color: #C9C9C9 !important;
}

.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:focus {
text-decoration: none;
border: 0;
outline: 0;
}

*:hover,
*:focus,
*:active{
outline: none;
box-shadow: none !important;
-webkit-appearance: none;
}

.btn-primary { 
color: #000000 !important; 
background-color:  #4898B5   !important; 
border-color:  #4898B5   !important;
}
a,p,body {
font-family: 'Roboto', sans-serif;
 
}


h1,h4 {
font-family: 'Play', sans-serif;
font-weight: bold;
}

.btn-stuff:hover {
background-color:  #3e829b !important ;
}

.btn-stuff:active {

}

code {
  font-size: 100%;
  color: #07a;
  word-break: break-word;
}

#navbar {
 
  transition: top 0.4s;
}



