

.img {
opacity: 0.7;
filter: alpha(opacity=50); /* For IE8 and earlier */
}

.bgcolor {
background-color:  #042A3D  !important ; /*darkest blue*/
}

.bgblue {
background-color:  #154760  !important ; /*second blue*/
}

.bgltblue {
background-color:  #27647A  !important ; /*light blue*/
}

.bggrey {
background-color:  #AFAFAF  !important ; /*grey*/
}

.bgltgrey {
background-color:  #E2E2E2  !important ; /*light grey*/
}

.border-secondary {
  border-color: #C9C9C9 !important;
}

.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:focus {
text-decoration: none;
border: 0;
outline: 0;
}

*:hover,
*:focus,
*:active{
outline: none;
box-shadow: none !important;
-webkit-appearance: none;
}

.btn-primary { 
color: #ffffff !important; 
background-color:  #107392   !important; 
border-color:  #107392   !important;
}
body{
font-family: 'Arimo', sans-serif;
}

a,h1,h4 {
font-family: 'Anton', sans-serif;
}

.jumbo-color {
background-color:  #107392  !important ;
}

.btn-stuff:hover {
background-color:  #23637b  !important ;
}

.btn-stuff:active {
transform: scale(.99);
}

@media (max-width: 550px){
  #header .header h1 {
    font-size: 30px;
    line-height: 30px;
  }
}